#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  background-color:white;
}

.delBtn{
  padding: 0;
  background-color: white;
  font-size: 20px;
}

.content{
  text-align: left;
  width: 150px;
}

.edit, .ok{
  background-color: white;
  padding: 0;
  font-size: 20px;
}

.checkbox{
  transform: scale(1.3);
}

.editInput{
  width: 100px;
}